<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Currencies values over time</h1>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom:50px;">
  <div class="row">
    <div class="col-md-12">
      <div id="currencies-highchart"></div>
    </div>
  </div>
  <div class="row currencies-button">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary btn-chart" value="Bitcoin">Bitcoin</button>
      <button class="btn btn-primary btn-chart" value="Etherium">Etherium</button>
      <button class="btn btn-primary btn-chart" value="NASDAQ">NASDAQ</button>
    </div>
  </div>
  </div>
</div>


<script>
  $(function () {
      var myChart = Highcharts.chart('currencies-highchart', {
      title: {
          text: 'Currencies value over time (2015-2017)'
      },

      yAxis: {
        title: {
            text: 'Value'
        }
      },

      xAxis: {
        type: 'datetime',
        title: {
            text: 'Date'
        }
      },

      legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'middle',
      },

      series: [
        {
          name: 'Bitcoin',
          data: <%= @bitcoin_values %>
        },

        {
          name: 'Etherium',
          data: <%= @etherium_values %>
        },

        {
          name: 'NASDAQ',
          data: <%= @nasdaq_values %>
        }
      ]
    });

    $('.btn-chart').on('click', function() {
        const series = $('#currencies-highchart').highcharts().series;
        const serie = series.find(serie => serie.name === this.value);
        if (serie.visible) {
          serie.hide();
        } else {
          serie.show();
        }
    });
  });
</script>
